@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif
}